:root {
  /* primitive tokens */

  --font-family-primary: "Sofia Sans";
  --font-family-secondary: "IBM Plex Sans";
  --font-family-utils: "IBM Plex Mono";

  /* font size */
  --font-size-min: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-body: var(--font-size-medium);

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* neutral colors */
  --color-polar: #F3F5F8;
  --color-mist: #E2E7EE;
  --color-lightgray: #6B7280;
  --color-gray: #4B5563;
  --color-deepblue: #111827;

  /* font color */
  --font-color-default: var(--color-deepblue);

  /* bluepetro */
  --color-bluepetro-50: #EEF2F7;
  --color-bluepetro-100: #D9E1EC;
  --color-bluepetro-200: #B8C6D9;
  --color-bluepetro-300: #8FA6C4;
  --color-bluepetro-400: #627FA9;
  --color-bluepetro-500: #1F3A5F;
  --color-bluepetro-600: #1A3252;
  --color-bluepetro-700: #162A46;
  --color-bluepetro-800: #111F34;
  --color-bluepetro-900: #0C1625;

  /* ember */
  --color-ember-50: #FFEEDE;
  --color-ember-100: #FFDDB8;
  --color-ember-200: #FFC174;
  --color-ember-300: #EE9800;
  --color-ember-400: #CA8100;
  --color-ember-500: #A76A00;
  --color-ember-600: #855300;
  --color-ember-700: #653E00;
  --color-ember-800: #472A00;
  --color-ember-900: #2A1700;

  /* wine */
  --color-wine-50: #F8EDF1;
  --color-wine-100: #F0DCE5;
  --color-wine-200: #DDB3C6;
  --color-wine-300: #C484A2;
  --color-wine-400: #A6577C;
  --color-wine-500: #7A2E4D;
  --color-wine-600: #682642;
  --color-wine-700: #561F36;
  --color-wine-800: #45182B;
  --color-wine-900: #341220;

  /* brand */
  --color-brand-primary: var(--color-bluepetro-500);
  --color-brand-secondary: var(--color-wine-500);
  --color-brand-accent: var(--color-ember-500);

  /* size */
  --size-0: 0rem;
  --size-1: 0.0625rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-80: 5rem;
  --size-96: 6rem;
  --size-112: 7rem;

  /* semantic tokens */

  --hero-bg: var(--color-bluepetro-500);
  --hero-min-h-desktop: 54rem;
  /* 864px */
  --hero-content-max-w: 45.3125rem;
  /* 725px */

  --header-bg: color-mix(in oklab, var(--color-bluepetro-500) 20%, transparent);
  --header-border-bottom-color: var(--color-bluepetro-500);

  --text-color-body: var(--color-bluepetro-50);

  --surface-color: var(--color-bluepetro-900);
  --surface-color-hover: var(--color-bluepetro-800);
  --surface-color-active: var(--color-bluepetro-700);

  --surface-color-inverse: var(--color-bluepetro-50);
  --surface-color-inverse-hover: var(--color-bluepetro-100);
  --surface-color-inverse-active: var(--color-bluepetro-200);

  --bg-color-page: var(--color-bluepetro-900);
  --bg-color-subtle: var(--color-bluepetro-800);

  --button-primary-bg: var(--color-ember-400);
  --button-primary-bg-hover: var(--color-ember-600);
  --button-primary-text: var(--color-ember-50);
  --button-primary-icon-color: var(--button-primary-text);
  --button-primary-radius: var(--size-12);
  --button-primary-height: var(--size-48);

  --button-ghost-bg: transparent;
  --button-ghost-border-color: var(--color-ember-500);
  --button-ghost-border-color-hover: var(--color-ember-600);
  --button-ghost-border-size: var(--size-1);
  --button-ghost-text-color: var(--color-ember-500);
  --button-ghost-icon-color: var(--button-ghost-text-color);
  --button-ghost-radius: var(--size-12);
  --button-ghost-height: calc(var(--size-48)- var(--button-ghost-border-size));

  --badge-bg-color: var(--color-bluepetro-800);
  --badge-text-color: var(--color-bluepetro-50);
  --badge-border-color: var(--color-bluepetro-500);
  --badge-icon-color: var(--badge-text-color);

  --badge-secondary-bg-color: var(--color-bluepetro-800);
  --badge-secondary-text-color: var(--color-ember-500);
  --badge-secondary-border-color: var(--color-ember-500);
  --badge-secondary-icon-color: var(--badge-secondary-text-color);

  --sys-size-media-sm: 12rem;
  --sys-size-media-md: 16rem;
  --sys-size-media-lg: 20rem;
  --sys-size-media-xl: 26rem;
}

/* Light Theme Overrides */
.light {
  --hero-bg: var(--color-polar);
  --header-bg: color-mix(in oklab, var(--color-polar) 40%, transparent);
  --header-border-bottom-color: var(--color-bluepetro-200);

  --text-color-body: var(--color-bluepetro-900);

  --surface-color: var(--color-polar);
  --surface-color-hover: var(--color-mist);
  --surface-color-active: var(--color-bluepetro-100);

  --surface-color-inverse: var(--color-bluepetro-900);
  --surface-color-inverse-hover: var(--color-bluepetro-800);
  --surface-color-inverse-active: var(--color-bluepetro-700);

  --bg-color-page: var(--color-polar);
  --bg-color-subtle: var(--color-mist);

  --badge-bg-color: var(--color-bluepetro-100);
  --badge-text-color: var(--color-bluepetro-900);
  --badge-border-color: var(--color-bluepetro-300);
  --badge-icon-color: var(--badge-text-color);

  --badge-secondary-bg-color: var(--color-ember-50);
  --badge-secondary-text-color: var(--color-ember-700);
  --badge-secondary-border-color: var(--color-ember-300);
  --badge-secondary-icon-color: var(--badge-secondary-text-color);
}