<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="">
        <div class="flex items-center gap-2 mb-2">
        <img src="/images/context-icon.svg" alt="">
        <h2 class="font-sora text-title-1 text-brand-orange-600">Contexto</h2>
        </div>
        <p class="font-sora leading-normal text-body-2">{{ context }}</p>
    </div>
    <div class="">
        <div class="flex items-center gap-2 mb-2">
        <img src="/images/objectives-icon.svg" alt="">
        <h2 class="font-sora text-title-1 text-brand-orange-600">Objetivos</h2>
        </div>
        <p class="font-sora leading-normal text-body-2">{{ objectives }}</p>
    </div>
    <div class="">
        <div class="flex items-center gap-2 mb-2">
        <img src="/images/solution-icon.svg" alt="">
        <h2 class="font-sora text-title-1 text-brand-orange-600">Solução</h2>
        </div>
        <p class="font-sora leading-normal text-body-2">{{ solution }}</p>
    </div>
    <div class="">
        <div class="flex items-center gap-2 mb-2">
        <img src="/images/roles-icon.svg" alt="">
        <h2 class="font-sora text-title-1 text-brand-orange-600">Responsabilidades</h2>
        </div>
        <p class="font-sora leading-normal text-body-2">{{ my_roles }}</p>
    </div>
    </div>