<h1 class="font-sora font-bold leading-snug text-title-1 md:text-title-4 text-brand-purple-600 mb-6 md:mb-8">
    {{ name }}
</h1>
<p class="font-merriweather leading-normal text-body-3 md:text-body-4 text-brand-gray-600 mb-6 max-w-[720px]">
    {{ desc }}
</p>