<section id="presentation" class="bg-brand-yellow-300 py-16">
  <div class="container max-w-[1200px] mx-auto px-4 md:px-6 pb-16">
    <div class="flex gap-4 mb-3 md:mb-6">      
      <img src="/images/portfolio/{{ desktop_img }}" class="flex-initial object-cover object-[center_top] drop-shadow-md overflow-auto w-[70%] h-[1200px]" alt="" class="">
      <img src="/images/portfolio/{{ mobile_img }}" class="flex-initial object-cover object-[center_top] drop-shadow-md overflow-auto w-[30%] h-[1200px]" alt="">
    </div>
  </div>
</section>