<footer class="bg-brand-purple-600">
  <div class="container max-w-[1200px] mx-auto py-8">
      <div class="flex justify-between items-center">
          <div>
              <p class="text-titles-1 text-brand-gray-0 font-sora">✉️ <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a></p>
          </div>
          <div class="flex gap-2">
              <a href="">
                  <img src="" alt="">
              </a>
              <a href="">
                  <img src="" alt="">
              </a>
          </div>
      </div>
  </div>
</footer>